<a href="https://colab.research.google.com/github/pierobadano/Desafio-TelecomX-P1/blob/main/Desafio_Telecom_p1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desafio Telecom X

En el siguiente notebook iré realizando mi codigo resolviendo el "Desafio Telecom X", aplicando todos los conocimientos aprendidos durante mi formacion como analista de datos hasta el momento

# Contexto

He sido contratado como asistente de análisis de datos en Telecom X y formare parte del proyecto "Churn de Clientes". La empresa enfrenta una alta tasa de cancelaciones y necesita comprender los factores que llevan a la pérdida de clientes.

Mi desafío será recopilar, procesar y analizar los datos, utilizando Python y sus principales bibliotecas para extraer información valiosa. A partir de tu análisis, el equipo de Data Science podrá avanzar en modelos predictivos y desarrollar estrategias para reducir la evasión.

# Desarrollo

In [181]:
import pandas as pd
import numpy as np

In [182]:
url="https://raw.githubusercontent.com/alura-cursos/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json"
datos_crudos=pd.read_json(url)
df_clientes= pd.json_normalize(datos_crudos["customer"])

In [183]:
df_clientes= pd.json_normalize(datos_crudos["customer"])
df_telefono= pd.json_normalize(datos_crudos["phone"])
df_internet= pd.json_normalize(datos_crudos["internet"])
df_account= pd.json_normalize(datos_crudos["account"])

In [184]:
datos= pd.concat([datos_crudos[["customerID","Churn"]],df_clientes,df_telefono,df_internet,df_account], axis=1)

In [185]:
datos.sample(10)

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
4860,6648-RXFRG,,Male,0,No,No,7,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,86.80,620.35
419,0603-TPMIB,No,Female,0,Yes,Yes,59,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.45,1534.05
53,0093-EXYQL,No,Female,1,No,No,40,Yes,No,Fiber optic,...,No,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,91.55,3673.6
6447,8859-YSTWS,No,Male,0,No,No,48,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,One year,No,Bank transfer (automatic),19.95,1004.5
2907,4029-HPFVY,No,Male,0,No,No,3,Yes,No,Fiber optic,...,No,No,No,No,No,Month-to-month,Yes,Mailed check,70.30,220.4
5497,7534-BFESC,Yes,Male,1,No,No,24,Yes,Yes,Fiber optic,...,No,No,No,No,No,Month-to-month,Yes,Electronic check,76.10,1712.7
5850,7998-ZLXWN,No,Female,0,Yes,No,15,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Credit card (automatic),20.45,330.8
2423,3387-VATUS,Yes,Male,0,No,No,5,Yes,Yes,Fiber optic,...,No,No,No,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),94.85,462.8
1728,2455-USLMV,No,Female,0,No,No,31,Yes,Yes,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Credit card (automatic),84.75,2613.4
4442,6087-YPWHO,No,Male,0,Yes,No,72,Yes,Yes,DSL,...,Yes,Yes,Yes,No,No,Two year,No,Mailed check,68.15,4808.7

In [186]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [187]:
datos["customerID"].duplicated().sum()

np.int64(0)

In [188]:
for col in datos.columns:
  print(col)
  print(datos[col].unique())

customerID
['0002-ORFBO' '0003-MKNFE' '0004-TLHLJ' ... '9992-UJOEL' '9993-LHIEB'
 '9995-HOTOH']
Churn
['No' 'Yes' '']
gender
['Female' 'Male']
SeniorCitizen
[0 1]
Partner
['Yes' 'No']
Dependents
['Yes' 'No']
tenure
[ 9  4 13  3 71 63  7 65 54 72  5 56 34  1 45 50 23 55 26 69 11 37 49 66
 67 20 43 59 12 27  2 25 29 14 35 64 39 40  6 30 70 57 58 16 32 33 10 21
 61 15 44 22 24 19 47 62 46 52  8 60 48 28 41 53 68 51 31 36 17 18 38 42
  0]
PhoneService
['Yes' 'No']
MultipleLines
['No' 'Yes' 'No phone service']
InternetService
['DSL' 'Fiber optic' 'No']
OnlineSecurity
['No' 'Yes' 'No internet service']
OnlineBackup
['Yes' 'No' 'No internet service']
DeviceProtection
['No' 'Yes' 'No internet service']
TechSupport
['Yes' 'No' 'No internet service']
StreamingTV
['Yes' 'No' 'No internet service']
StreamingMovies
['No' 'Yes' 'No internet service']
Contract
['One year' 'Month-to-month' 'Two year']
PaperlessBilling
['Yes' 'No']
PaymentMethod
['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']
Charges.Monthly
[65.6  59.9  73.9  ... 91.75 68.8  67.85]
Charges.Total
['593.3' '542.4' '280.85' ... '742.9' '4627.65' '3707.6']

In [189]:
datos[["OnlineSecurity","OnlineBackup","DeviceProtection","TechSupport","StreamingTV","StreamingMovies"]]=datos[["OnlineSecurity","OnlineBackup","DeviceProtection","TechSupport","StreamingTV","StreamingMovies"]].replace("No internet service","No")

In [190]:
datos["MultipleLines"]=datos["MultipleLines"].replace("No phone service","No")

In [191]:
datos[["Charges.Monthly","Charges.Total"]]

      Charges.Monthly Charges.Total
0               65.60         593.3
1               59.90         542.4
2               73.90        280.85
3               98.00       1237.85
4               83.90         267.4
...               ...           ...
7262            55.15         742.9
7263            85.10        1873.7
7264            50.30         92.75
7265            67.85       4627.65
7266            59.00        3707.6

[7267 rows x 2 columns]

In [192]:
datos.columns=datos.columns.str.lower()

In [193]:
datos.columns=datos.columns.str.replace(".","")

In [194]:
datos["chargestotal"]=datos["chargestotal"].replace(",",".")

In [195]:
datos["chargestotal"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 7267 entries, 0 to 7266
Series name: chargestotal
Non-Null Count  Dtype
--------------  -----
7267 non-null   object
dtypes: object(1)
memory usage: 56.9+ KB

In [196]:
datos["chargestotal"] = datos["chargestotal"].apply(lambda x: x.replace("$","").replace(",","").strip())

https://pandas.pydata.org/docs/reference/api/pandas.to_numeric.html#pandas.to_numeric

In [197]:
datos["chargestotal"]=pd.to_numeric(datos["chargestotal"], errors="coerce") #convierto los valores vacios de haber a nan

In [198]:
datos["chargestotal"].dtype

dtype('float64')

In [199]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerid        7267 non-null   object
 1   churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   seniorcitizen     7267 non-null   int64
 4   partner           7267 non-null   object
 5   dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   phoneservice      7267 non-null   object
 8   multiplelines     7267 non-null   object
 9   internetservice   7267 non-null   object
 10  onlinesecurity    7267 non-null   object
 11  onlinebackup      7267 non-null   object
 12  deviceprotection  7267 non-null   object
 13  techsupport       7267 non-null   object
 14  streamingtv       7267 non-null   object
 15  streamingmovies   7267 non-null   object
 16  contract          7267 non-null   object
 17  paperlessbilling  7267 non-null   object
 18  paymentmethod     7267 non-null   object
 19  chargesmonthly    7267 non-null   float64
 20  chargestotal      7256 non-null   float64
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

In [200]:
datos

,customerid,churn,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,...,onlinebackup,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,chargesmonthly,chargestotal
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.30
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.40
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.90
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.70
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.60

In [201]:
datos["cuentasdiarias"]= (datos["chargesmonthly"]/30).round(4)

In [202]:
datos = datos.replace({"Yes":1,"No":0})
      #pandas me recomienda que utilice .infer_objects para adecuar al mejor tipo de dato automaticamente
datos = datos.infer_objects()

/tmp/ipython-input-184115587.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  datos = datos.replace({"Yes":1,"No":0})

In [203]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerid        7267 non-null   object
 1   churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   seniorcitizen     7267 non-null   int64
 4   partner           7267 non-null   int64
 5   dependents        7267 non-null   int64
 6   tenure            7267 non-null   int64
 7   phoneservice      7267 non-null   int64
 8   multiplelines     7267 non-null   int64
 9   internetservice   7267 non-null   object
 10  onlinesecurity    7267 non-null   int64
 11  onlinebackup      7267 non-null   int64
 12  deviceprotection  7267 non-null   int64
 13  techsupport       7267 non-null   int64
 14  streamingtv       7267 non-null   int64
 15  streamingmovies   7267 non-null   int64
 16  contract          7267 non-null   object
 17  paperlessbilling  7267 non-null   int64
 18  paymentmethod     7267 non-null   object
 19  chargesmonthly    7267 non-null   float64
 20  chargestotal      7256 non-null   float64
 21  cuentasdiarias    7267 non-null   float64
dtypes: float64(3), int64(13), object(6)
memory usage: 1.2+ MB