<a href="https://colab.research.google.com/github/pierobadano/Desafio-TelecomX-P1/blob/main/Desafio_Telecom_p1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desafio Telecom X

En el siguiente notebook iré realizando mi codigo resolviendo el "Desafio Telecom X", aplicando todos los conocimientos aprendidos durante mi formacion como analista de datos hasta el momento

# Contexto

He sido contratado como asistente de análisis de datos en Telecom X y formare parte del proyecto "Churn de Clientes". La empresa enfrenta una alta tasa de cancelaciones y necesita comprender los factores que llevan a la pérdida de clientes.

Mi desafío será recopilar, procesar y analizar los datos, utilizando Python y sus principales bibliotecas para extraer información valiosa. A partir de tu análisis, el equipo de Data Science podrá avanzar en modelos predictivos y desarrollar estrategias para reducir la evasión.

# Desarrollo

In [104]:
import pandas as pd
import numpy as np

In [63]:
url="https://raw.githubusercontent.com/alura-cursos/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json"
datos_crudos=pd.read_json(url)
df_clientes= pd.json_normalize(datos_crudos["customer"])

In [64]:
df_clientes= pd.json_normalize(datos_crudos["customer"])
df_telefono= pd.json_normalize(datos_crudos["phone"])
df_internet= pd.json_normalize(datos_crudos["internet"])
df_account= pd.json_normalize(datos_crudos["account"])

In [65]:
datos= pd.concat([datos_crudos[["customerID","Churn"]],df_clientes,df_telefono,df_internet,df_account], axis=1)

In [66]:
datos.sample(10)

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
7178,9867-XOBQA,No,Female,0,No,Yes,21,No,No phone service,DSL,...,Yes,Yes,Yes,Yes,No,Two year,No,Mailed check,53.15,1183.2
756,1084-UQCHV,Yes,Male,0,No,Yes,1,Yes,No,Fiber optic,...,No,No,No,No,No,Month-to-month,No,Bank transfer (automatic),69.75,69.75
2905,4024-CSNBY,No,Female,0,Yes,No,72,Yes,Yes,Fiber optic,...,Yes,Yes,Yes,No,No,Two year,Yes,Bank transfer (automatic),94.25,6849.75
363,0520-FDVVT,Yes,Male,0,No,No,35,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,One year,Yes,Bank transfer (automatic),102.35,3626.1
3025,4195-SMMNX,Yes,Male,0,No,No,2,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Mailed check,20.35,33.2
466,0661-XEYAN,Yes,Female,1,No,No,1,No,No phone service,DSL,...,No,No,No,No,No,Month-to-month,Yes,Mailed check,25.80,25.8
2594,3621-CEOVK,Yes,Female,1,Yes,No,14,Yes,Yes,Fiber optic,...,Yes,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,100.20,1369.8
72,0115-TFERT,Yes,Male,0,Yes,No,21,Yes,Yes,Fiber optic,...,Yes,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,111.20,2317.1
5442,7450-NWRTR,Yes,Male,1,No,No,12,Yes,Yes,Fiber optic,...,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.45,1200.15
3065,4277-PVRAN,Yes,Female,0,No,No,8,Yes,No,Fiber optic,...,No,No,No,Yes,No,Month-to-month,Yes,Bank transfer (automatic),80.10,679.3

In [67]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [139]:
datos["customerid"].duplicated().sum()

np.int64(0)

In [72]:
for col in datos.columns:
  print(col)
  print(datos[col].unique())

customerID
['0002-ORFBO' '0003-MKNFE' '0004-TLHLJ' ... '9992-UJOEL' '9993-LHIEB'
 '9995-HOTOH']
Churn
['No' 'Yes' '']
gender
['Female' 'Male']
SeniorCitizen
[0 1]
Partner
['Yes' 'No']
Dependents
['Yes' 'No']
tenure
[ 9  4 13  3 71 63  7 65 54 72  5 56 34  1 45 50 23 55 26 69 11 37 49 66
 67 20 43 59 12 27  2 25 29 14 35 64 39 40  6 30 70 57 58 16 32 33 10 21
 61 15 44 22 24 19 47 62 46 52  8 60 48 28 41 53 68 51 31 36 17 18 38 42
  0]
PhoneService
['Yes' 'No']
MultipleLines
['No' 'Yes']
InternetService
['DSL' 'Fiber optic' 'No']
OnlineSecurity
['No' 'Yes']
OnlineBackup
['Yes' 'No']
DeviceProtection
['No' 'Yes']
TechSupport
['Yes' 'No']
StreamingTV
['Yes' 'No']
StreamingMovies
['No' 'Yes']
Contract
['One year' 'Month-to-month' 'Two year']
PaperlessBilling
['Yes' 'No']
PaymentMethod
['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']
Charges.Monthly
[65.6  59.9  73.9  ... 91.75 68.8  67.85]
Charges.Total
['593.3' '542.4' '280.85' ... '742.9' '4627.65' '3707.6']

In [69]:
datos[["OnlineSecurity","OnlineBackup","DeviceProtection","TechSupport","StreamingTV","StreamingMovies"]]=datos[["OnlineSecurity","OnlineBackup","DeviceProtection","TechSupport","StreamingTV","StreamingMovies"]].replace("No internet service","No")

In [70]:
datos["MultipleLines"]=datos["MultipleLines"].replace("No phone service","No")

In [136]:
datos[["Charges.Monthly","Charges.Total"]]

KeyError: "None of [Index(['Charges.Monthly', 'Charges.Total'], dtype='object')] are in the [columns]"

In [76]:
datos.columns=datos.columns.str.lower()

In [86]:
datos.columns=datos.columns.str.replace(".","")

In [94]:
datos["chargestotal"]=datos["chargestotal"].replace(",",".")

In [100]:
datos["chargestotal"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 7267 entries, 0 to 7266
Series name: chargestotal
Non-Null Count  Dtype
--------------  -----
7267 non-null   object
dtypes: object(1)
memory usage: 56.9+ KB

In [108]:
datos["chargestotal"] = datos["chargestotal"].apply(lambda x: x.replace("$","").replace(",","").strip())

https://pandas.pydata.org/docs/reference/api/pandas.to_numeric.html#pandas.to_numeric

In [131]:
datos["chargestotal"]=pd.to_numeric(datos["chargestotal"], errors="coerce") #convierto los valores vacios de haber a nan

In [132]:
datos["chargestotal"].dtype

dtype('float64')

In [135]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerid        7267 non-null   object
 1   churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   seniorcitizen     7267 non-null   int64
 4   partner           7267 non-null   object
 5   dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   phoneservice      7267 non-null   object
 8   multiplelines     7267 non-null   object
 9   internetservice   7267 non-null   object
 10  onlinesecurity    7267 non-null   object
 11  onlinebackup      7267 non-null   object
 12  deviceprotection  7267 non-null   object
 13  techsupport       7267 non-null   object
 14  streamingtv       7267 non-null   object
 15  streamingmovies   7267 non-null   object
 16  contract          7267 non-null   object
 17  paperlessbilling  7267 non-null   object
 18  paymentmethod     7267 non-null   object
 19  chargesmonthly    7267 non-null   float64
 20  chargestotal      7256 non-null   float64
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

In [160]:
datos

,customerid,churn,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,...,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,chargesmonthly,chargestotal,cuentasdiarias
0,0002-ORFBO,0,Female,0,1,1,9,1,0,DSL,...,0,1,1,0,One year,1,Mailed check,65.60,593.30,2.1867
1,0003-MKNFE,0,Male,0,0,0,9,1,1,DSL,...,0,0,0,1,Month-to-month,0,Mailed check,59.90,542.40,1.9967
2,0004-TLHLJ,1,Male,0,0,0,4,1,0,Fiber optic,...,1,0,0,0,Month-to-month,1,Electronic check,73.90,280.85,2.4633
3,0011-IGKFF,1,Male,1,1,0,13,1,0,Fiber optic,...,1,0,1,1,Month-to-month,1,Electronic check,98.00,1237.85,3.2667
4,0013-EXCHZ,1,Female,1,1,0,3,1,0,Fiber optic,...,0,1,1,0,Month-to-month,1,Mailed check,83.90,267.40,2.7967
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,0,Female,0,0,0,13,1,0,DSL,...,0,1,0,0,One year,0,Mailed check,55.15,742.90,1.8383
7263,9992-RRAMN,1,Male,0,1,0,22,1,1,Fiber optic,...,0,0,0,1,Month-to-month,1,Electronic check,85.10,1873.70,2.8367
7264,9992-UJOEL,0,Male,0,0,0,2,1,0,DSL,...,0,0,0,0,Month-to-month,1,Mailed check,50.30,92.75,1.6767
7265,9993-LHIEB,0,Male,0,1,1,67,1,0,DSL,...,1,1,0,1,Two year,0,Mailed check,67.85,4627.65,2.2617
7266,9995-HOTOH,0,Male,0,1,1,63,0,0,DSL,...,1,0,1,1,Two year,0,Electronic check,59.00,3707.60,1.9667

In [145]:
datos["cuentasdiarias"]= (datos["chargesmonthly"]/30).round(4)

In [158]:
datos = datos.replace({"Yes":1,"No":0})
      #pandas me recomienda que utilice .infer_objects para adecuar al mejor tipo de dato automaticamente
datos = datos.infer_objects()

In [159]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerid        7267 non-null   object
 1   churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   seniorcitizen     7267 non-null   int64
 4   partner           7267 non-null   int64
 5   dependents        7267 non-null   int64
 6   tenure            7267 non-null   int64
 7   phoneservice      7267 non-null   int64
 8   multiplelines     7267 non-null   int64
 9   internetservice   7267 non-null   object
 10  onlinesecurity    7267 non-null   int64
 11  onlinebackup      7267 non-null   int64
 12  deviceprotection  7267 non-null   int64
 13  techsupport       7267 non-null   int64
 14  streamingtv       7267 non-null   int64
 15  streamingmovies   7267 non-null   int64
 16  contract          7267 non-null   object
 17  paperlessbilling  7267 non-null   int64
 18  paymentmethod     7267 non-null   object
 19  chargesmonthly    7267 non-null   float64
 20  chargestotal      7256 non-null   float64
 21  cuentasdiarias    7267 non-null   float64
dtypes: float64(3), int64(13), object(6)
memory usage: 1.2+ MB